body {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  text-align: center;
  background-image: url(../img/background1.jpg);
}
h1 {
  font-size: 3rem;
  color: white;
  font-weight: 900;
  text-shadow: 4px 4px black;
}

h2 {
  font-size: 2rem;
  color: white;
  font-weight: 900;
  text-shadow: 4px 4px black;
  max-width: 50%;
  margin: 0 auto 0 auto;
}

p {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

span {
  font-size: 2rem;
  color: white;
  font-weight: 900;
  text-shadow: 4px 4px black;
}
#game-intro {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-container {
  display: none;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/forest-bg.png);
  background-size: auto 100%;
  animation: bgSlide 20s linear infinite;
  background-repeat: repeat-x;
}

#instructions {
  display: none;
}

#game-outro {
  display: none;
}

#game-intro p {
  font-size: 18px;
}

#lives-display {
  display: inline;
}

#game-won {
  color: black;
  display: none;
}

.logo-img {
  width: 350px;
  margin-bottom: 50px;
}

.house-animation {
  animation: grow 0.5s ease forwards, fadeOut 0.5s ease 0.5s forwards;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  background: url("../img/button1.png") no-repeat;
  background-size: contain;
  background-position: center;
  padding: 40px 70px;
  margin: 1rem 0;
}

@keyframes bgSlide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 790% 0;
  }
}

@keyframes grow {
  from {
    transform-origin: bottom right;
    transform: scale(1) translate(0);
  }
  to {
    transform: scale(1.3) translate(-50px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
